* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

body {
    padding: 5rem;
    background-color: #FBEAEB;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 400px;
    border-radius: 15px;
    margin: auto;
    padding: 20px;
    background-color: #8AAAE5;
}

.screen {
    border: 2px solid black;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #FBEAEB;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

#last-calc {
    font-size: 25px;
    height: 40px;
}

#current-calc {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 60px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #FBEAEB;
}

.span-2 {
    grid-column: span 2;
}

#clear-btn {
    background-color: #8ae5cb;
}

#clear-btn:hover,
#delete-btn:hover {
    background-color: #FBEAEB;
    transform: scale(1.2);
    transition: 0.5s;
}

#delete-btn {
    background-color: rgb(229, 147, 147);
}

.signs:hover {
    background-color: #908ae5;
    transform: scale(1.2);
    transition: 0.5s;
}

.numbers:hover {
    background-color: #e58ac1;
    transform: scale(1.2);
    transition: 0.5s;
}